* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  color: white;
  padding: 20px 10%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #d16eb4;
}

.btn {
  background-color: #df59c0;
  padding: 8px 15px;
  border-radius: 5px;
  color: black;
}

.hero {
  background: linear-gradient(to right, #f566ca, #ed70dc);
  text-align: center;
  padding: 80px 20px;
  color: #222;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.products {
  padding: 50px 10%;
  background-color: #fff;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.product-box {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}



footer {
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 20px;
}
